           .thumbnails .roo {
				width: 30%;
				margin-right: 3px;
				margin-top: 3px;
			}	
			.weui-header-left a.icon {
				color: #FFFFFF;
				font-size: 1.4em;
			}
			.weui_cells::before {
   
    border-top: 0px solid #d9d9d9;
			
			}
			.weui-border-b {
    border-bottom: 0px dashed #e0e0e0;

}
.weui_cell {
    padding: 15px 15px;
   
}
.weui-comment-item .nickname {
    color:#47b020;
    font-size: 15px;
   
}
.weui-comment-item {
	
}
#paragraph{
	margin-top: 10px;
margin-left: -8%;
line-height: 1.6;
color: #484747;
}
.bg-orange {
    background-color: #BFA390;
}
.weui_btn {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 14px;
    padding-right: 14px;
    box-sizing: border-box;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    color: #f6e7e7;
    line-height: 1.6;
    border-radius: 30px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    overflow: hidden;
}

.weui-comment {
    font-size: 14px;
}
.weui-comment-msg {
  color:#5a5858;
    line-height: 1.5;
}
.line{
	border-bottom: 1px solid #cfc7c7;
	margin-left: 40px;
	margin-top: 10px
}
.bg-orange {
    background-color: #9FCF93;
}