body{
	font-size:14px;
	font-family: 微软雅黑;
	color:#666;
}
a{
	color:#666;
}
.huodong img{
      		width:100%;
      		height:100%;
}
.pindao{
	font-size:12px;
}

.txt{
	text-align:left !important;
	padding-left:25px;
	font-family: 楷体;
	background: white;
}
.pindao .weui-flex-item{
	padding-top:10px;
	text-align:center;
	padding-bottom:2px;
}
.pindao img{
	width:50%;
}
.shopList{
	/*background: white;*/
	margin-top:5px;
	
}
.shopList li{
	background: white;
	overflow: hidden;
	margin:2px 0;
	padding:5px 0;
	position: relative;
}
.shop-title{
	background: white;
	font-weight:bold;
	padding:10px 15px;
	font-size:15px;
}
.icon{
	margin:0 5px;
}
.shop .shop-logo{
	width:20%;
	float:left;
	text-align:center;
}
.shop .shop-logo img{
	width:60px;
	height:60px;
}
.shop .jianjie{
	 font-size:12px;
	 color:#6C6C6C;
	
	 margin-top:3px;
	 padding-top:3px;
}
.weui_tab {
	height:45px;
}
.ishot:after{
	content:"热销";
	font-size:12px;
	background:green;
	color:#fff;
	padding:1px;
	position:absolute;
	width:60px;
	text-align:center;
	-webkit-transform:rotateZ(45deg);
	right:-16px;
	top:6px;
	display:inline-block;
	height:16px;
	line-height:16px;
}
.istop:after{
	content:"置顶";
	font-size:12px;
	background:#e33737;
	color:#fff;
	padding:1px;
	position:absolute;
	width:60px;
	text-align:center;
	-webkit-transform:rotateZ(45deg);
	right:-16px;
	top:6px;
	display:inline-block;
	height:16px;
	line-height:16px;
}
.shop .badge{
	background:#FFE339;
	font-size:8px;
	color:#6F3F15;
	height:12px;
	display: inline-block;
	line-height: 12px;
	margin-left:5px;
	font-weight: bold;
	padding:2px;
	border-radius: 5px;
}
.shop .shop_name{
	font-size:16px;
	font-weight: bold;
}
.shop .xiaoliang{
	font-size:12px;
	color:#6C6C6C;
}
.shop .fenlei{
	font-size:12px;
	color:#6C6C6C
}
.weui-flex-item div img{
    width: 50%;
    border-radius: 50%;

}
.selfshop{
	width:100%;
	height:100%;
	background: white;
}
.selfshop .zhaopao{
	color:white;
}

.selfshop .zhaopao .logo img{
	width:78px;
	height:78px;
	left:3%;
	position: absolute;
	border-radius: 5px;
}
.selfshop .name{
	margin-left:35%;
	font-size:19px;
}
.selfshop .activity{
	margin-top:30px;
	padding-top:25px;
	padding-left:15px;
	background: white;
	font-size:12px;
}
.selfshop .activity p{
	margin:5px 0;
}
.shou{
	background: green;
	color:white;
	padding:1px;
	font-size:10px;
	margin:0 3px;
}
.jian{
	background: red;
	color:white;
	padding:1px;
	font-size:10px;
	margin:0 3px;
}

